*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
html{
    font-family: sans-serif;
    font-size: 62.5%;
    text-align: center;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    margin-bottom: -1rem;
    z-index: 10;
    position: relative;
}
.gallery{
    max-width: 850px;
    overflow: hidden;
    margin: 0 auto;
}

.gallery img{
    margin: -100%;
    vertical-align: middle;
    width: auto;
    height: 150px;
}
.image a{
    font-size: 0;
    vertical-align: top;
    line-height: 150px;
    position: relative;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    float: left;
    display: block;
    overflow: hidden;
    height: 150px;
    width: 150px;
}
.subfooter{
    width: 100%;
}
.subfooter span{
    line-height: 5rem;
    font-size: 2rem;
}
.single{
	position: relative;
}
.single figure img{
	width: 500px;
	height: auto;
}
.single figcaption{
    font-size: 2rem;
    margin: 2rem;
}
nav{
    height: 3rem;
    background-color: grey;
    margin: 1rem 0;
}
nav a{
    font-size: 2rem;
    line-height: 3rem;
    text-decoration: none;
    color: inherit;
}
nav a:hover{

}
footer{
    height: 4rem;
    background-color: grey;
}
.erreur{
    color: red;
    font-size: 2rem;
}