*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
html{
    font-family: sans-serif;
    font-size: 62.5%;
    text-align: center;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    margin-bottom: -1rem;
    z-index: 10;
    position: relative;
}
.home .wrapper{
    max-width: 850px;
    overflow: hidden;
    margin: 0 auto;
}
.home .galerie{
    min-height: 400px;
    overflow: hidden;
}
.home .wrapper img{
    margin: -100%;
    vertical-align: middle;
    width: auto;
    height: 150px;
}
.home nav{
    clear: both;
    border-top: solid grey 1px;
    padding-top: 8px;
}
.home nav li a{
    display: block;
    padding: 0 10px;
}
.home nav li{
    display: inline-block;
    margin: 0 2px;
}
.home nav li.last{
    float: right;
    height: 1em;
    width: 200px;
}
.home nav li.first{
    float: left;
    height: 1em;
    width: 200px;
}
.home nav > ul > li > a:hover{
    display: block;
    background-color: red;
    color: white;
}
.home nav ul ul{
}
.home nav ul ul li.selected, .home nav ul ul li:hover{
    background-color: red;
    color: white;
}
.home nav li.prev, .home nav li.next{
    height: 3px;
    width: 3px;
    background-color: black;
    line-height: 1.5rem;
}
.home nav li.prev:hover, .home nav li.next:hover{
    background-color: black;
    color: inherit;
}
.home .image a{
    font-size: 0;
    vertical-align: top;
    line-height: 150px;
    position: relative;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    float: left;
    display: block;
    overflow: hidden;
    height: 150px;
    width: 150px;
}
.image-seule .image{
	position: relative;
}
.image-seule .image figure img{
	width: 500px;
	height: auto;
}
.image-seule .image figcaption{
    font-size: 2rem;
    margin: 2rem;
}
.image-seule nav{
    height: 3rem;
    background-color: grey;
    margin: 1rem 0;
}
.image-seule nav a, .home nav a{
    font-size: 2rem;
    line-height: 3rem;
    text-decoration: none;
    color: inherit;
}
.image-seule nav a:hover{
    text-decoration: underline;
}
footer{
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: grey;
}
.subfooter{
    width: 100%;
}
.subfooter span{
    line-height: 3rem;
    font-size: 1.3rem;
}
.erreur{
    color: red;
    font-size: 2rem;
}
table{
    border-spacing: 0;
}
.admin img{
    height: 50px;
    margin: 0;
}
.admin tr{
    border-bottom: 1px solid black;
}
.admin td{
    font-size: 1.5rem;
    vertical-align: middle;
    padding: 5px 10px;
}