.gallery {
    padding: 10px;
}

.gallery img {
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 10px;
}

.gallery img a {
    display: block;
    height: 150px;
    width: 150px;
}
.single{
	position: relative;
	
}
.single img{
	width: 500px;
	height: auto;
}
